.home-projects {
  &__title {
    margin-bottom: 40px;
  }

  text-align: center;
  margin: 30px 0px;
  padding: 20px 0px;

  &__content {
    
    &__item {
      display: flex;
      justify-content: space-around;
      border: 1px solid #ddd;
      align-items: center;
  padding: 10px;
      &--title {
        &__skills {
          display: flex;
          justify-content: space-around;
          gap: 3px;

          &--img {
            width: 30px;
            height: 30px;
          }
        }
      }
      &--image {
        width: 200px;
      }
    }
  }
}
