.header {
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0px;
    &-item {
      display: flex;
      gap: 15px;
      &--link {
        font-weight: 600;
      }
    }
    &-logo {
      text-align: center;

      img {
        width: 34px;
      }
    }
    &-social {
      display: flex;
      gap: 40px;
      justify-content: flex-end;
      svg {
        font-size: 25px;
        z-index: 9999;
      }
      a {
        padding: 3px;
        border: 1px solid transparent;
        &:hover {
          background-color: #ddd;
          opacity: 0.5;
          z-index: 1;
          transition: all 0.5s ease-in-out;
          border-radius: 5px;
          &:hover svg {
            color: rgb(243, 67, 9);
            z-index: 9999;
          }
        }
      }
    }
  }
}
